<div class="container mt-5">
<div class="row">
  <div class="col-2">
    <%= render '/public/items/genre', genres: @genres %>
  </div>
  <div class="col-10 pl-5">
    <div class="row ml-1">
      <div class="card text-white">
        <%= image_tag("shop.png", class: "card-img", size: "450x300") %>
          <div class="card-img-overlay d-flex align-items-start justify-content-center">
            <div class="ml-3">
              <p class="p-2">
                ようこそ、ながのCAKEへ！<br>
                このサイトでは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品に閲覧はできますが、<br>
                購入には会員登録が必要になります。<br>
              </p>
            </div>
          </div>
        </div>
      </div>

        <h4 class="mt-3"><strong>新着商品</strong></h4>
        <div class="row">
          <% @items.each do |item| %>
            <div class="col mt-3">
            <div><%= link_to item_path(item) do %></div>
              <p><%= image_tag item.get_image %></p>
              <p><%= item.name %></p>
              <p>￥<%= number_to_currency(item.price, unit: "", precision: 0) %></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class=" mb-3 text-right">
        <%= link_to "全ての商品を見る＞", items_path %>
      </div>
    </div>
  </div>
</div>
