<div class="container">
  <p id="notice"></p>
  <h3>新規会員登録</h3>
    <p id="notice"></p>
      <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        
        <div class="row">
          <div class="col-2">名前</div>
          <div class="col-1"><%= f.label :last_name, "（姓）" %></div>
          <div class="col-3"><%= f.text_field :last_name, autofocus: true %></div>
          <div class="col-1"><%= f.label :first_name, "（名）" %></div>
          <div class="col-3"><%= f.text_field :first_name %></div>
        </div>
          
        <div class="row">
          <div class="col-2">フリガナ</div>
          <div class="col-1"><%= f.label :last_name_kana, "（セイ）" %></div>
          <div class="col-3"><%= f.text_field :last_name_kana, pattern: "[ァ-ヶー－]+" %></div>
          <div class="col-1"><%= f.label :first_name_kana, "（メイ）" %></div>
          <div class="col-3"><%= f.text_field :first_name_kana, pattern: "[ァ-ヶー－]+" %></div>
        </div>
        
        <div class="row">
          <div class="col-3"><%= f.label :email ,"メールアドレス" %></div>
          <div class="col-3"><%= f.email_field :email, autocomplete: "email" %></div>  
        </div>
        
        <div class="row">
          <div class="col-3"><%= f.label :post_code, "郵便番号(ハイフンなし)" %></div>
          <div class="col-3"><%= f.text_field :post_code, pattern: '\d{3}\d{4}'%></div>  
        </div>
        
        <div class="row">
          <div class="col-3"><%= f.label :address, "住所" %></div>
          <div class="col-3"><%= f.text_field :address, pattern: '^[\p{Han}\w\s]+$' %></div>
        </div>
        
        <div class="row">
          <div class="col-3"><%= f.label :telephone_number, "電話番号(ハイフンなし)" %></div>
          <div class="col-3"><%= f.text_field :telephone_number, pattern: '\d{10,11}' %></div>
        </div>
      
        <div class="row">
          <div class="col-3"><%= f.label :password, "パスワード(6文字以上)" %></div>
          <% if @minimum_password_length %><% end %>
          <div class="col-3"><%= f.password_field :password %></div>
        </div>
      
        <div class="row">
          <div class="col-3"><%= f.label :password_confirmation, "パスワード(確認用)" %></div>
          <div class="col-3"><%= f.password_field :password_confirmation %></div>
        </div>
      
        <div class="actions text-center">
          <div class="row">
            <div class="col-7"><%= f.submit "新規登録", class: "btn btn-lg btn-success"%></div>
          </div>
        </div>
        
      <% end %>
      <p id="notice"></p>
      <h3>既に登録済みの方</h3>
      
      <div class="row">
        <div class="col"><%= link_to "こちら", new_customer_session_path %>からログインしてください</div>
      </div>
      
</div>