<div class="container px-5">
  <p id="notice"></p>
    <div class="row">
      <h3 class="m-5", style="background-color: #E6E6E6;">　ログイン　</h3>
    </div>
    <p id="notice"></p>
    <div class="row ml-5 pl-2">
      <h5 style="background-color: #E6E6E6;">　会員の方はこちらからログイン　</h5>
    </div>

      <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
      <div class="my-4">
        <div class="row justify-content-center mb-3">
          <div class="col-2"><%= f.label :email ,"メールアドレス", class: "form-label"  %></div>
          <div class="col-6"><%= f.email_field :email, class: "form-control",  autofocus: true, autocomplete: "email" %></div>
        </div>

        <div class="row justify-content-center ">
          <div class="col-2"><%= f.label :password, "パスワード" %></div>
          <div class="col-6"><%= f.password_field :password, class: "form-control",  autocomplete: "current-password" %></div>
        </div>

        <div class="col-10 pr-4 actions text-center my-5">
          <%= f.submit "  ログイン  ", class: "btn btn-lg btn-primary" %>
        </div>
      </div>
      <% end %>

      <div class="row pt-4">
      <h5 style="background-color: #E6E6E6;">　会員登録がお済みでない方　</h5>
      </div>
        <p id="notice"></p>

        <div class="row ml-5">
          <div class="col ml-5 pl-5"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください</div>
        </div>

      <br/>
    </div>
  </div>
</div>