<div class="container mt-5 pt-4">
  <div class="row">
    <div class="col-2">
      <%= render 'genre', genres: @genres %>　<!--genre検索欄 -->
    </div>
    <div class="col-10 pl-5">
      <div class="row">
        <li class="mr-2 list-unstyled">
          <h2><strong>商品一覧</strong></h2>
        </li>
        <li class="d-flex align-items-end list-unstyled">
          <h5>(全<%= @item_count %>件)</h5>
        </li>
      </div>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col my-3">
            <%= link_to item_path(item), class: "text-decoration-none text-dark" do %>
              <p><%= image_tag item.get_image %></p>
              <b><%= item.name %></b>
              <br>
              <p>￥<%= number_to_currency(item.with_tax_price, unit: "", precision: 0) %></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row mt-4 justify-content-center">
          <%= paginate @items %>
      </div>
    </div>
  </div>
</div>