<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/0edaaf4d35.js" crossorigin="anonymous"></script>
    <!--各自のフォントURLを設定してください -->
  </head>

  <body>
    <header>
      <div class="container border-bottom">
        <div class="row">
          <div class="mx-5">
            <% if admin_signed_in? %>
              <%= image_tag("icon.jpg", size: "100x100", class: "icon-image") %>
            <% elsif customer_signed_in? %>
              <%= link_to root_path do %>
                <%= image_tag("icon.jpg", size: "100x100", class: "icon-image") %>
              <% end %>
            <% else %>
              <%= link_to root_path do %>
                <%= image_tag("icon.jpg", size: "100x100", class: "icon-image") %>
              <% end %>
            <% end %>
          </div>
          <div class="col">
          <% if customer_signed_in? %>
            <div class="col mt-4 pt-3 text-center">
              <p>ようこそ、<%= current_customer.last_name %>さん！</p>
            </div>
          <% else %>
          <% end %>
          </div>

          <div class="mt-4">
            <ul class="d-flex list-unstyled justify-content-end">
              <% if admin_signed_in? %>
                <%= render 'layouts/admin_header' %>
              <% elsif customer_signed_in? %>
                <%= render 'layouts/publicheader' %>
              <% else %>
                <%= render 'layouts/publicheader_guest' %>
              <% end %>
            </ul>
</div>
        </div>
<!--追加　-->
          <div class="ml-auto mb-2 d-flex justify-content-end">
            <%= form_with url: search_path, method: :get, local: true, class: 'form-inline' do %>
              <div class="input-group">
                <%= text_field_tag :query, params[:query], placeholder: 'Search', class: 'form-control' %>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            <% end %>
          </div>
<!--ここまで　-->
      </div>
    </header>

    <main>
    <%= yield %>


    <div style="height: 190px;"></div>
    </main>

    <footer class="fixed-bottom", style="background-color: white;">

      <div class="container my-3 border-top text-center ">
        <div class="py-5">
        <h3 style="font-family: Monotype Corsiva; color: gray;">Nagano  Cake</h3>
        </div>
      </div>
    </footer>




  </body>
</html>
